body {
    font-family: "Montserrat", serif;
}

* {
    scroll-behavior: smooth;
}

.marquee {
    animation: marquee 9000ms linear infinite;
    position: relative;
    white-space: nowrap;
}
@media (min-width: 992px) {
    .marquee {
        animation: marquee 30000ms linear infinite;
    }
}

@keyframes marquee {
from {
    transform: translateX(0%);
}
to {
    transform: translateX(-100%);
}
}

.object-position-center{
    object-position: 0 7%;
}